.git/
.DS_Store
__pycache__/
*.py[cod]

.venv/
venv/
env/

data/
keys/
ciphertexts/
encrypted_payloads/
prepared_payloads/
server_returns/
server_jobs/
results/

build/
dist/
*.egg-info/

*.bin
*.key
*.ct
*.ctx
*.ser
*.zip
*.log
*.tmp
