.DS_Store
__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb
.venv/
venv/
env/

data/
results/
keys/
ciphertexts/
encrypted_payloads/
prepared_payloads/
server_returns/
server_jobs/
client_runs/

build/
build_docker/
dist/
*.egg-info/

*.bin
*.key
*.ct
*.ctx
*.ser
*.csv
*.zip
*.log
*.tmp
